body {
  width: 100vw;
  height: 100vh;
  /* Below isn't ideal*/
  overflow: hidden;
}

.header {
  width: 100%;
  height: 25%;
  background: #bc52d4;
}

main {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: row;
  background: #410860;
}

.left-view-article, .right-view-section {
  position: relative;
  width: 50%;
}

.article-section-1, .article-section-2 {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.article-section-1 {
  background: #fca811;
}

.article-section-2 {
  background: #f2404e;
}

.right-view-section {
  background: #00bece;
}